<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price GameTracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Price GameTracker</h1>
      <a href="{{ url_for('logout') }}">Logout</a>
    </header>

    <main>
      <h2>Search Game</h2>

      <form method="GET" action="{{ url_for('home') }}">
        <input type="text" name="game_name" placeholder="Search a game..." />
        <input type="submit" value="Search" />
      </form>

      {% if not game_name %}
      <p>Please introduce a game</p>
      {% endif %}

      {% if best_match_game %}
      <h3>Best Match:</h3>
      <p><strong>{{ best_match_game.name }}</strong></p>
      <p>
        Best Price: {{ best_match_game.best_price }} € in {{
        best_match_game.best_store }}
      </p>

      {% if graph_img %}
      <h4>Price Evolution:</h4>
      <img src="data:image/png;base64,{{ graph_img }}" alt="Price Evolve" />
      {% endif %} {% else %}
      {% if game_name %}
      <p>No se encontraron coincidencias.</p>
      {% endif %} {% endif %}

      {% if additional_matches %}
      <h3>Additional Matches:</h3>
      <table>
        <thead>
          <tr>
            <th>Game</th>
            <th>Best Price</th>
            <th>Store</th>
          </tr>
        </thead>
        <tbody>
          {% for game in additional_matches %}
          <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.best_price }} €</td>
            <td>{{ game.best_store }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

      <div class="update-buttons">
        <form action="{{ url_for('update_games_eneba') }}" method="post">
          <button type="submit">Update Eneba DB</button>
        </form>
        <form
          action="{{ url_for('update_games_instant_gaming') }}"
          method="post"
        >
          <button type="submit">Update Instant Gaming DB</button>
        </form>
      </div>
    </main>
  </body>
</html>
